.main-calculator-container {
  position: absolute;
  max-width: 320px;
  width: 100%;
  color: #111317;
  background: #FFFFFF;
  background-size:cover;
  -webkit-clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
  clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
  padding: 80px 20px; 
}

.calculator-top-header {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -2%;
  font-style: bold;
}

.first-input {
  padding: 20px 0;
}

.second-input {
  padding-bottom: 20px;
}
.calculator-label {
  font-size: 14px;
  font-weight: bold;
}
.calculator-input {
  margin-top: 5px;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  border: double 2px transparent;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #D3DAE8, #A7B7D8);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.1));
}
.calculator-input:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

input[type='number'] {
  font-size: 18px;
  font-style: bold;
  padding: 10px;

}
.checkbox-input {
  display: flex;
  align-items: center;
}
.checkbox {
  height: 20px;
  max-width: 20px;
  width: 100%;
  margin-right: 10px;
  filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.1));
}
.calculator-btn {
  margin: 20px 0;
  background: linear-gradient(to right, #911812, #E1261C);
  border-radius: 30px;
  max-width: 169px;
  width: 100%;
  height: 60px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.calculator-middle-section {
  display: flex;
  margin: 20px 0;
  text-align: center;
  justify-content: space-between;
}

.middle-first-article {
  max-width: 130px;
  width: 100%;
}

.middle-second-article {
  max-width: 130px;
  width: 100%;
}
.days-amount-text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 15px;
}

.article-total-amount {
  font-size: 18px;
  font-weight: bolder;
  line-height: 20px;
}
.money-amount-text {
  color: #7A818E;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
}

.calculator-bottom-section {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.calculator-bottom-text {
  font-size: 14px;
  line-height: 15px;
}

.calculator-bottom-total {
  font-size: 24px;
}
.bottom-total-days {
  font-style: normal;
}

.line-break {
  color: #E9EDF4;
  margin: 0;
  font-size: 1px;
  opacity: 0.2;
}